extends layout-view 

block header-content 
  nav 
    ul 
      li 
        a(href="/home") Home 
      li 
        a(href="/faq") FAQs 
        
block main-content 
  h2 Sign up
  form.default-form(method="post") 
    div 
      label(for="first-name") First Name: 
      input(type="text", name="first-name", id="first-name", required, value=user ? user.firstName : "")
      if errors
        - const firstNameError = errors.find(error => error.path === "first-name")
        if (firstNameError) 
          span #{firstNameError.msg}
    div 
      label(for="last-name") Last Name: 
      input(type="text", name="last-name", id="last-name", required, value=user ? user.lastName : "")
      if errors
        - const lastNameError = errors.find(error => error.path === "last-name")
        if (lastNameError) 
          span #{lastNameError.msg}
    div 
      label(for="user-name") User Name: 
      input(type="text", name="user-name", id="user-name", required, value=user ? user.userName : "")
      if errors
        - const userNameError = errors.find(error => error.path === "user-name")
        if (userNameError) 
          span #{userNameError.msg}
    div 
      label(for="password") Password: 
      input(type="password", name="password", id="password", required, value=user ? user.password : "")
      if errors
        - const passwordError = errors.find(error => error.path === "password")
        if (passwordError) 
          span #{passwordError.msg}
    div 
      label(for="confirm-password") Confirm-password: 
      input(type="password", name="confirm-password", id="confirm-password", required, value=confirmPassword || "")
      if errors
        - const confirmPasswordError = errors.find(error => error.path === "confirm-password")
        if (confirmPasswordError) 
          span #{confirmPasswordError.msg}
    div 
      button(type="submit") Sign up
  p Already have an account? 
    a(href="/login") Log in
